appdirs
bidict
click
cycler
distlib
filelock
Flask
flask-htpasswd
Flask-SocketIO
importlib-metadata
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
passlib
Pillow
pkg-resources
pluggy
py
pycurl
pyparsing
python-dateutil
python-engineio
python-socketio
scipy
six
smbus
toml
tox
virtualenv
w1thermsensor
Werkzeug
zipp
