<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Pool control</title>
  <meta name="description" content="pool control">
  <meta name="author" content="niklas">

  <link rel="stylesheet" href="static/style.css">
  <!--meta http-equiv="refresh" content="10"--> 

  <!--
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
        });
    </script>
  -->

</head>

<body>

    <div class="page">

    <div class="box title">
        <a href="index"><h2>Badkontrollen</h2></a>
    </div>

    <div class="box controls">
      <div class="grid-container">
        <div class="grid-item">
        <form action="/control/aux" method="post">
            <button name="aux_" type="submit" class="toggle button_{{aux_status}}">
                Ljus</button>
        </form>
        </div>

        <div class="grid-item {{error_status}}">
            <p>Givare, &#8451;</p>
        </div>

        <div class="grid-item">
            <p>B&ouml;rv&auml;rden</p>
        </div>

        <div class="grid-item">
            <form action="/control/pump" method="post">
                <button name="pump_" type="submit" class="toggle button_{{pump_status}}">
                    Pump</button>
            </form>
        </div>

        <div class="grid-item {{error_status}}">
            <p>{{pump_temp}}</p>
        </div>

        <div class="grid-item">
            <form class="temps" id="pump-temp" action="/control/pump_temp" method="post">
                <input class="{{sensors_status}}" id="pump_temp"  name="temp" type="number" min="0" step="1" value="{{set_pump_temp}}"/>
                <input class="{{sensors_status}}" type="submit" value="OK"/>
            </form>
        </div>

        <div class="grid-item">
            <form action="/control/heat" method="post">
                <button name="heat_" type="submit" class="toggle button_{{heat_status}}">
                    V&auml;rme</button>
            </form>
        </div>

        <div class="grid-item {{error_status}}">
            <p>{{pool_temp}}</p>
        </div>

        <div class="grid-item">
            <form class="temps" id="pool-temp" action="/control/pool_temp" method="post">
                <input class="{{sensors_status}}" id="pool_temp" name="temp" type="number" min="0" max="39" step="1" value="{{set_pool_temp}}"/>
                <input class="{{sensors_status}}" type="submit" value="OK"/>
            </form>
        </div>

        <div class="grid-item">
            <p>Ute</p>
        </div>

        <div class="grid-item">
            <p>{{climate_temp}}</p>
        </div>

        <div class="grid-item">
        </div>

      </div>

    </div>

    <div class="box timer {{timer_status}}" >
        <form id="timer-control" action="/control/timer" method="post" value="{{interval}}">
            <label for="timer_interval">Int.:</label>
            <select id="timer_interval" name="timer_interval">
                {% for key,value in intervals.items() %}
                <option value="{{key}}" {%if key == interval %} selected {% endif %}>{{value}}</option>
                {% endfor %}
            </select>

            <label for="timer_duration">Tid:</label>
            <select id="timer_duration" name="timer_duration" value="{{duration}}">
                {% for key, value in durations.items() %}
                <option value="{{key}}" {%if key == duration %} selected {% endif %}>{{value}}</option>
                {% endfor %}
            </select>

            <input type="submit" name="submit" value="OK" />
            <p style="font-size: 12px">Remaining {{timer_remain}}</p>
            <a href="/plot/hours">Plot</a>
        </form>
    </div>

    </div>

</body>

