<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Pool control</title>
  <meta name="description" content="pool control">
  <meta name="author" content="niklas">

  <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="page">

    <div class="box title">
        <a href="/index"><h2>Badkontrollen</h2></a>
    </div>

    <div class="box timer">
        <p span="font-size: 30px;">Effekt: {{deg_per_hour}} &#8451;/h ({{charge_rate}} W)</p>
        <span style="font-size: 20px;">
        <a href="/plot/hour">timme</a>
        <a href="/plot/hours">6 timmar</a>
        <a href="/plot/day">dag</a>
        <a href="/plot/week">vecka</a>
        <a href="/plot/month">m&aring;nad</a>
        <a href="/plot/year">&aring;r</a>
        </span>

        <img src="{{image}}" width="95%" alt="{{image}}"/>
    </div>

    </div>

</body>

